

.Title {
  display: flex;
  margin: 10px 0;
  width: 100%;
  justify-content: center;
  color:#7300ff;
  font-weight: bold;
}

.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.TodoTitle {
  font-weight: bold;
  font-size: 18px;
}

.TodoTitle span {
  background-color: #7300ff;
  padding:5px 10px;
  border-radius: 50%;
  color:white;
}

.TodoList {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 500px;
  background: #cdeaf3;
  color: #000000;
  border: #c9c9c9 2px solid;
  border-radius: 10px;
}

.TodoList ul {
  margin-top: 20px;
  list-style: none;
}

.TodoList h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.TodoList h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
} 
